@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: white;
  font-family: 'Raleway', serif;
  background-image: url('../images/gym.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
 *  HEADER
 */
header {
  height: 5vh;
  width: 100vw;
}

.Flex-Header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  background-color: #212121;
  opacity: 0.8;
}

.Flex-Header a {
  text-decoration: none;
  padding: 10px;
}

.Flex-Header input {
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #484848;
  border-color: #484848;
  border-radius: 15px;
  color: white;
  font-family: 'Raleway', serif;
  font-weight: 400;
}

input[type="submit"]:hover {
  color: #338bd5;
}

.Logo {
  font-weight: 900;
  font-size: 25px;
  color: #338bd5;
}

@media screen and (max-width: 581px) {
  .Flex-Header {
    flex-direction: column;
  }

  .Flex-Header form {
    flex-direction: column;
    justify-content: center;
    width: 10%;
  }

  .Flex-Header input[type="submit"] {
    margin-top: 10px;
  }

  .Flex-Header input[type="password"] {
    margin-top: 10px;
  }
}

.Flex-Header form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*
 *  SIGN UP SECTION
 */
.flex-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 0;
  border-radius: 5px;
  margin-top: 150px;
}

.flex-form h1 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
}

.flex-form form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}

.signupform input[type="password"] {
  border-radius: 2px;
  width: 50%;
  height: 40px;
  margin-top: 15px;
  padding-left: 5px;
  text-align: left;
  border-style: solid;
  border-color: black;
  background-color: lightgrey;
}

.signupform input[type="email"] {
  border-radius: 2px;
  width: 50%;
  height: 40px;
  margin-top: 15px;
  padding-left: 5px;
  text-align: left;
  border-style: solid;
  border-color: black;
  background-color: lightgrey;
}

.signupform input[type="submit"] {
  border-radius: 20px;
  margin-top: 40px;
  width: 30%;
  height: 40px;
  color: black;
  font-style: 'Raleway', serif;
  font-weight: 900;
  font-size: 1.2em;
  background-color: #338bd5;
  border-color: black;
  border-style: solid;
  transition: background 0.4s ease-in-out;
}

.signupform input[type="submit"]:hover {
  background-color: #0073c6;
}
